body {
    background: #ffffff;
    padding: 0.5em;
}
.nav-link,
.navbar-brand {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.navbar-collapse {
    justify-content: flex-end;
}
li  a:hover {
    background-color: #ffd100;
    font-weight: bold;
    font-size: 1em;
    transition: all 500ms;
    font-size:18px;
    font-size-adjust: 2;
    border-radius:10px;
}
div.laatikko {
    padding: 5px 5px;
    text-align: center;
    font-size: 13px;
  }
  div.button1 {
    margin: 15px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: solid rgb(0, 0, 0);
    align-items: left;
  }
  div.button1:hover {
    border: solid rgb(255, 0, 0);
  }
